*.apk
*.aar
*.ap_
*.aab
*.iml
.gradle/
bin/
gen/
out/
build/
.navigation/
captures/
vcs.xml
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.kotlin
local.properties
app/release
output-metadata.json
core
core.*
*.so
*.bin
.env
/.gradle/
